<!DOCTYPE html>
<html lang="en">
<head>
	<title>Авторизация</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/log_reg_util.css">
	<link rel="stylesheet" type="text/css" href="static/css/log_reg_main.css">
</head>
<body>
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form method="post" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Войти
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
					<input class="input100" type="text" name="name" placeholder="Ваш ник">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" name="pass" placeholder="Пароль">
					<span class="focus-input100"></span>
				</div>
				<p align="center">{{ message }} <br></p>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Войти
					</button>
				</div>

				<div class="text-center">
					<a href="/register" class="txt2 hov1"><br>
						Регистрация
					</a>
				</div>
				<div class="text-center">
					<a href="/" class="txt2 hov1">
						Вернуться в главное меню
					</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>